.discover {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.discover__resultsContainer {
  display: flex;
  flex: 1;
  overflow: hidden;

  .discover_listScrollContainer {
    display: flex;
    height: 100%;

    .discover__list {
      width: 480px;
      background-color: #efefec;
      flex: 1;
      overflow-y: auto;
    }
  }

  .discover__map {
    flex: 1;
    background-color: #efefec;
    height: 100%;
    overflow-y: hidden;
  }
}

.discover__error {
  color: red;
}
