.discover {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.discover__sidebar {
  width: 35%;
  background-color: #efefec;
  overflow-y: auto;
}

.discover__map {
  flex: 1;
  background-color: #efefec; // placeholder if map hasn't loaded
}

.discover__error {
  color: red;
}
